# Kütüphalerin içe aktarılması
import numpy as np
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

# Kümelerin merkezlerinin belirlenmesi
centers = [[0.5, 2], [-1, -1], [1.5, -1]]

# Veri setinin tasarlanması
X, y = make_blobs(n_samples=300, centers=centers, cluster_std=0.5, random_state=0)

# Değerlerin normalize edilmesi
X = StandardScaler().fit_transform(X)
# DBSCAN uygulamadan önce veri setinin görselleştirlmesi
plt.figure(figsize=(10,6))
plt.scatter(X[:,0], X[:,1], c=y, cmap='Paired')
plt.show()

# DBSCAN uygulanması
from sklearn.cluster import DBSCAN
db = DBSCAN(eps=0.4, min_samples=20)
db.fit(X)

# DBSCAN tarafından belirlenen kümeleri görselleştirilmesi
y_pred = db.fit_predict(X)
plt.figure(figsize=(10,6))
plt.scatter(X[:,0], X[:,1],c=y_pred, cmap='Paired')
plt.title("Clusters determined by DBSCAN")
plt.show()
